<h1> Spaces </h1>

<% if current_user %>
<h3><a class="btn btn-primary" href="/spaces/new">Create a new space</a></h3>
<% end %>

<p>Filter by date</p>
<form action="/spaces/filtered" method='post'>
	<input class='sign' id="daterange" type='text' name='datepicker' placeholder='Available from' required><br>
	<input type='hidden' id='filter_from' name='available_from' value=''><br>
	<input type='hidden' id='filter_to' name='available_to' value=''><br>
	<input id="submit" class='sign' type='submit' value='Show spaces available'>
</form>

<% @spaces.each_with_index do |s, i| %>
<a href="/spaces/request?space_id=<%= s.id %>" style="text-decoration: none;">
<div id='space_<%= i%>' class='spaces'>
  <h3> <%= s.name %> <span id="price">(Price per night: <%= s.price %>)</span></h3>
  <p class="space_description"> <%= s.description %> </p>
  <p class="space_description"> <%= s.available_from %> - <%= s.available_to %> </p>
</div>
</a>
<% end %>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<script>
	$('#daterange').daterangepicker({
    "autoApply": true,
    "locale": {
    	format: 'DD-MM-YYYY'
    },
    "dateFormat": 'dd/mm/yyyy',
    "dateLimit": {
        "days": 31
    }
    // "startDate": "05/01/2016",
    // "endDate": "08/31/2016"
}, function(start, end, label) {
  console.log("New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (predefined range: ' + label + ')");
});
	var availableFrom;
	var availableTo;

	$( '#daterange' ).change(function() {
		var startD = $('#daterange').data('daterangepicker').startDate._d;
		var endD = $('#daterange').data('daterangepicker').endDate._d;
		availableFrom = (startD.getDate() + '/' + (startD.getMonth() + 1) + '/' +  startD.getFullYear());
		availableTo = (endD.getDate() + '/' + (endD.getMonth() + 1) + '/' +  endD.getFullYear());
		console.log(availableFrom);
		console.log(availableTo);
		$( "#filter_from" ).attr( "value", availableFrom );
		$( "#filter_to" ).attr( "value", availableTo );
	});
</script>


