<h1 class="display-3"> My requests</h1>
<hr class="m-y-2">



<div class ="row">
<div class= "col-md-2">
</div>

	<div class="col-md-4" >
		<div class ="jumbotron white-background">
			<h2>Sent</h2>
			<hr class="m-y-2">


			<% @requests.each do |request| %>

			<%if request.status == nil %>

			<div id="space" class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
				</div>
				<div class="panel-body">
					Booking status: pending
				</div>
			</div>

			<% elsif request.status == false %>

			<div id="space" class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
				</div>
				<div class="panel-body">
					Booking status: denied
				</div>
			</div>

			<% else request.status == true %>

			<div id="space" class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
				</div>
				<div class="panel-body">
					Booking status: denied
				</div>
			</div>

			<%end%>

			<% end %>

		</div>

		</div>



		<div class="col-md-4">
			<div class="jumbotron white-background">
				<h2>Received</h2>
				<hr class="m-y-2">


				<% @received_request.each do |request| %>
				<div id="space" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
						</div>
						<div class="panel-body">
					<%= request.status %>
					<% if request.status == nil %>
					<a id="request_accept_<%= request.id %>" href="/requests/accept/<%= request.id %>">Approve</a>
					|
					<a id="request_deny_<%= request.id %>" href="/requests/deny/<%= request.id %>">Reject</a>
					<% end %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
<div class= "col-md-2">
</div>
	</div>









