<h1 class="display-3"> My requests</h1>
<hr class="m-y-2">



<div class ="row">
	<div class="col-md-6" >
		<div class ="jumbotron white-background">
			<h2>Sent</h2>
			<hr class="m-y-2">


			<% @requests.each do |request| %>

			<div id="space" class="panel <%= request.status.sub(' ', "").downcase %>">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
				</div>
				<div class="panel-body">
					Booking status: <%= request.status %>
				</div>
			</div>
			<% end %>

		</div>

		</div>

		<div class="col-md-6">
			<div class="jumbotron white-background">
				<h2>Received</h2>
				<hr class="m-y-2">


				<% @received_request.each do |request| %>
				<div id="space" class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><%= @space_names.shift %> (<%=request.date_from %> - <%=request.date_to%>)</h3>
						</div>
						<div class="panel-body">
						<%= request.status %>
						<% if request.status.sub(' ', "").downcase == "notconfirmed" %>
						<form action="/requests/accept/<%= request.id %>">
						<button id="request_accept_<%= request.id %>" type="submit">Approve</button></form>
						<% end %>
					</div>
				</div>
				<% end %>
			</div>
		</div>

	</div>









